@media only screen and (max-width: 768px) {
  #desayunos .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  #tortas .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  #quienes_somos #formulario .carousel {
    display: grid;
    align-items: center; }
  #carrito_compra .categorias {
    grid-template-columns: 1fr 1fr; }
    #carrito_compra .categorias .categoria {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px; }
      #carrito_compra .categorias .categoria img {
        width: 30px;
        margin-right: 10px;
        margin-bottom: 0; }
      #carrito_compra .categorias .categoria p {
        margin-bottom: 0; } }

@media only screen and (max-width: 390px) {
  #desayunos .row, #tortas .row {
    grid-template-columns: 1fr;
    max-width: 90%; }
  #quienes_somos .nosotros p {
    width: 100%; }
  #quienes_somos #formulario .row {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr; }
    #quienes_somos #formulario .row .contacto, #quienes_somos #formulario .row .col-7 {
      display: grid;
      justify-content: center;
      width: 100%; }
    #quienes_somos #formulario .row .carousel {
      width: 100%;
      margin-bottom: 1rem; }
  #quienes_somos #formulario .titulos {
    margin-top: 1rem; }
  #iniciar_sesion {
    display: block; }
    #iniciar_sesion #mi_sesion, #iniciar_sesion #registrarme {
      display: grid;
      width: 100%;
      margin: 0.5rem;
      margin-bottom: 1rem; }
      #iniciar_sesion #mi_sesion #registratme, #iniciar_sesion #mi_sesion .btn, #iniciar_sesion #registrarme #registratme, #iniciar_sesion #registrarme .btn {
        margin-top: 1rem;
        margin-bottom: 0.5rem; }
  #carrito_compra .categorias {
    grid-template-columns: 1fr; } }

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  list-style: none; }

nav {
  background-color: white; }
  nav .navbar-toggler:focus {
    box-shadow: none; }
  nav .nav-link {
    color: #000; }

.imagen_principal {
  margin-bottom: 1rem; }

.titulos {
  margin: 2rem;
  font-size: 3rem; }

.producto {
  margin: 1rem;
  box-shadow: 2px 2px 5px #999; }

.btn {
  background-color: #d1e9a3;
  color: black;
  border-color: #d1e9a3; }
  .btn:focus {
    border: none;
    background-color: #fad8ce;
    border-color: #fad8ce;
    outline: none !important; }

#quienes_somos .nosotros {
  margin-top: 5rem; }

.cuenta h1 {
  margin-bottom: 3rem; }

footer {
  background-image: linear-gradient(to bottom, #ffffff, #fbf8fc, #fbf0f7, #fce8ee, #fde1e2, #fddddd, #fed8d7, #fed4d1, #ffd2d6, #ffd0dc, #fecee3, #faceeb); }

.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px; }
  .categorias .categoria {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid transparent;
    transition: .3s ease all; }
    .categorias .categoria:hover {
      color: #000; }
    .categorias .categoria img {
      width: 44px;
      margin-bottom: 10px; }
  .categorias .activa {
    border-color: #faceeb; }

.contenido .contenido_categorias {
  display: none;
  grid-template-columns: 1fr;
  gap: 40px; }
  .contenido .contenido_categorias .contenido_categoria {
    background: #fff;
    padding: 20px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer; }
    .contenido .contenido_categorias .contenido_categoria:hover {
      border: 5rem; }
    .contenido .contenido_categorias .contenido_categoria select {
      margin: 1rem; }
    .contenido .contenido_categorias .contenido_categoria .envio_domicilio {
      display: none; }

.contenido .activo {
  display: grid; }
