@media only screen and (max-width: 768px) {
  #desayunos .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  #tortas .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  #quienes_somos #formulario .carousel {
    display: grid;
    align-items: center; } }

@media only screen and (max-width: 360px) {
  #desayunos .row, #tortas .row {
    grid-template-columns: 1fr;
    max-width: 90%; }
  #quienes_somos .nosotros p {
    width: 100%; }
  #quienes_somos #formulario .row {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr; }
    #quienes_somos #formulario .row .contacto, #quienes_somos #formulario .row .col-7 {
      display: grid;
      justify-content: center;
      width: 100%; }
    #quienes_somos #formulario .row .carousel {
      width: 100%;
      margin-bottom: 1rem; }
  #quienes_somos #formulario .titulos {
    margin-top: 1rem; }
  #iniciar_sesion {
    display: block; }
    #iniciar_sesion #mi_sesion, #iniciar_sesion #registrarme {
      display: grid;
      width: 100%;
      margin: 0.5rem;
      margin-bottom: 1rem; }
      #iniciar_sesion #mi_sesion #registratme, #iniciar_sesion #mi_sesion .btn, #iniciar_sesion #registrarme #registratme, #iniciar_sesion #registrarme .btn {
        margin-top: 1rem;
        margin-bottom: 0.5rem; } }

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  list-style: none; }

nav {
  background-color: white; }
  nav .navbar-toggler:focus {
    box-shadow: none; }
  nav .nav-link {
    color: #000; }

.imagen_principal {
  margin-bottom: 1rem; }

.titulos {
  margin: 2rem;
  font-size: 3rem; }

.producto {
  margin: 1rem;
  box-shadow: 2px 2px 5px #999; }

.btn {
  background-color: #d1e9a3;
  color: black;
  border-color: #d1e9a3; }
  .btn:focus {
    border: none;
    background-color: #fad8ce;
    border-color: #fad8ce;
    outline: none !important; }

#quienes_somos .nosotros {
  margin-top: 5rem; }

.cuenta {
  height: 35rem; }
  .cuenta h1 {
    margin-bottom: 3rem; }

footer {
  background-image: linear-gradient(to bottom, #ffffff, #fbf8fc, #fbf0f7, #fce8ee, #fde1e2, #fddddd, #fed8d7, #fed4d1, #ffd2d6, #ffd0dc, #fecee3, #faceeb); }
