* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  list-style: none; }

nav {
  background-color: white; }

.imagen_principal {
  margin-bottom: 1rem; }

.banner {
  margin: 2rem;
  font-size: 3rem; }

.producto {
  margin: 1rem;
  box-shadow: 2px 2px 5px #999; }

.btn {
  background-color: #d1e9a3;
  color: black;
  border-color: #d1e9a3; }
  .btn:focus {
    border: none;
    background-color: #fad8ce;
    border-color: #fad8ce;
    outline: none !important; }

footer {
  background-image: linear-gradient(to bottom, #ffffff, #fbf8fc, #fbf0f7, #fce8ee, #fde1e2, #fddddd, #fed8d7, #fed4d1, #ffd2d6, #ffd0dc, #fecee3, #faceeb); }

#preguntas_frecuentes .categorias {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 20px;
  margin-bottom: 60px; }
  #preguntas_frecuentes .categorias .categoria {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid transparent;
    transition: .3s ease all; }
    #preguntas_frecuentes .categorias .categoria:hover {
      color: #000;
      border-color: #d1e9a3; }
    #preguntas_frecuentes .categorias .categoria img {
      width: 44px;
      margin-bottom: 10px; }
  #preguntas_frecuentes .categorias .activa {
    border-color: #d1e9a3; }

#preguntas_frecuentes .preguntas .contenedor_preguntas {
  display: none;
  grid-template-columns: 1fr;
  gap: 40px; }
  #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta {
    background: #fff;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .1s ease all;
    cursor: pointer; }
    #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta:hover {
      border-color: #fad8ce; }
    #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta .pregunta {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta .respuesta {
      color: #808080;
      line-height: 30px;
      max-height: 0;
      opacity: 0;
      transition: .3s ease all; }

#preguntas_frecuentes .preguntas .activo {
  display: grid; }
  #preguntas_frecuentes .preguntas .activo .activa .respuesta {
    display: grid;
    opacity: 1;
    margin-top: 20px; }
