//-------Tablet-------//
@media only screen and (max-width: 768px){
    header{
        nav{
            justify-content: space-evenly;
            .nav-toggle-menu{
                display: block;
                    &:focus:not(:focus-visible){
                        outline: none;
                    }
            }
            .navbar{
                flex-direction: column;
                align-items: center;
                position: fixed;
                padding: 20px 0;
                top: 60px;
                width: 50%;
                height: calc(100% -80px);
                overflow-y: auto;
                background-color: white;
                left: 100%;
                transition: right 0.3s;
                border-radius: 0.5rem;
                border-color: #fad8ce;
                border-width: 0.25rem;
                border-style: solid;
            }
            .navbar_visible{
                left: 0;
                .navbar-item-link{
                    line-height: 4rem;
                }
            }
        } 
    }
    #desayunos{
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    #tortas{
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    #quienes_somos{
        #formulario{
            .carousel{
                display: grid;
                align-items: center;
            }

        }
    }
    #carrito_compra{
        .categorias {
            grid-template-columns: 1fr 1fr;
            .categoria {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                img {
                    width: 30px;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
        
}
@media only screen and (max-width: 390px){

    header{
        nav{
            width: 100%;
            justify-content: center;
            .muestra_carrito{
                width: 100%;
            }
        }
    }
    #desayunos,#tortas{
        .row{
            grid-template-columns: 1fr;
            max-width: 90%;
        }
    }
    #quienes_somos{
        .nosotros{
            p{
                width: 100%;
            }
        }
        #formulario{
            .row{
                display: flex;
                flex-direction: column-reverse;
                grid-template-columns: 1fr;
                
                .contacto, .col-7{
                    display: grid;
                    justify-content: center;
                    width: 100%;

                }
                .carousel{
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
            }
            .titulos{
                margin-top: 1rem;
            }
        }
    }
    #iniciar_sesion{
        display: block;
        #mi_sesion,#registrarme{
            display: grid;
            width: 100%;
            margin: 0.5rem;
            margin-bottom: 1rem;
            #registratme,.btn{
                margin-top: 1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    #carrito_compra{
        .categorias {
            grid-template-columns: 1fr;
        }
    }
}
