

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    list-style: none;
    
}
//-----Navbar-----//
header{
    background-color: white;
    
    nav{
        display: flex;
        flex-direction: row;       
        background-color: white;
        align-items: center;
        height: 5rem;
        .nav-toggle-menu{
            background: none;
            border: none;
            display: none;
            cursor: pointer;
        }
        .navbar{
            display: flex;
            flex-direction: row;
            list-style: none;
            position: relative;
            justify-content: space-between;
            .navbar-item-link{
                color:#000;
                text-decoration: none; 
                font-size: medium;
                text-transform: uppercase; 
                }
            }
        .navbar-toggler:focus{
            box-shadow: none;
        }
        .nav-link{
            color: #000;
        }
        .carrito_toggle{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            border:none;
            .boton_carrito, img{
                border:none;
                background-color: white;
    
            }
                
        }
        .muestra_carrito{
            display: none;
            background-color: white;
            list-style: none;
            position: relative;
            align-items: center;
            position: fixed;
            padding: 20px 0;
            top: 60px;
            width: 50%;
            height: auto;
            overflow-y: auto;
            transition: left 0.3s;
            border-radius: 0.5rem;
            border-color: #d6f3a0;
            border-width: 0.25rem;
            border-style: solid;
            }
            .carrito_visible{
                right: 0;
                display: block;
                .navbar-item-link{
                    color:white;
                    line-height: 4rem;
                }
                .btn a{
                    text-decoration: none;
                    box-shadow: none;
                    color: #000;
                }
                .btn_resta, .btn_suma, .borrar-producto{
                    border:none;
                    background-color: transparent;
                }
            }
    }

    
}
.imagen_principal{
    margin-bottom: 1rem;
}
.titulos{
        margin: 2rem;
        font-size: 3rem;
}
.producto{
    margin: 1rem;
    box-shadow: 2px 2px 5px #999;
    
}
.btn{
    background-color: #d1e9a3;
    color: black;
    border-color: #d1e9a3;
    &:focus{
        border:none;
        background-color: #fad8ce;
        border-color: #fad8ce;
        outline: none !important;
        
    }
}
#quienes_somos {
    .nosotros{
        margin-top: 5rem;
    }
}
.cuenta{
    height: 50rem;
    h1{
        margin-bottom: 3rem;
    }
}

footer{
    background-image: linear-gradient(to bottom, #ffffff, #fbf8fc, #fbf0f7, #fce8ee, #fde1e2, #fddddd, #fed8d7, #fed4d1, #ffd2d6, #ffd0dc, #fecee3, #faceeb);
}

.categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 60px;
    .categoria{
        cursor: pointer;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        font-weight: 700;;
        border: 2px solid transparent;
        transition: .3s ease all;
        &:hover {
            color: #000;
        }
        img {
            width: 44px;
            margin-bottom: 10px;
        }
    }
    .activa{
        border-color: #faceeb;
    }
}
.contenido{
    .contenido_categorias{
        display: none;
        grid-template-columns: 1fr;
        gap: 40px;
        .contenido_categoria {
            background: #fff;
            padding: 20px;
            overflow: hidden;
            transition: .3s ease all;
            cursor: pointer;
            &:hover {
                border: 5rem;
            }
            select{
                margin: 1rem;
            }
            .btn_suma, .btn_resta, .borrar-producto{
                border:none;
                background-color: transparent;
                
            }
            .envio_domicilio{
                display: none;
            }
        }
    }
    .activo{
        display: grid;
        
    }
    
}  

@import "mQueries";