@import "mQueries";

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    list-style: none;
}
//----------Inicio---------//

//-----Navbar-----//
nav{
    background-color: white;
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .nav-link{
        color: #000;
    }
    
}
.imagen_principal{
    margin-bottom: 1rem;
}
.titulos{
        margin: 2rem;
        font-size: 3rem;
}
.producto{
    margin: 1rem;
    box-shadow: 2px 2px 5px #999;
    
}
.btn{
    background-color: #d1e9a3;
    color: black;
    border-color: #d1e9a3;
    &:focus{
        border:none;
        background-color: #fad8ce;
        border-color: #fad8ce;
        outline: none !important;
        
    }
}
#quienes_somos {
    .nosotros{
        margin-top: 5rem;
    }
}
.cuenta{
    height: 35rem;
    h1{
        margin-bottom: 3rem;
    }
}

footer{
    background-image: linear-gradient(to bottom, #ffffff, #fbf8fc, #fbf0f7, #fce8ee, #fde1e2, #fddddd, #fed8d7, #fed4d1, #ffd2d6, #ffd0dc, #fecee3, #faceeb);
}
